/ validation summary
- if @team.errors.any?
  - @team.errors.full_messages.each do |msg|
    = msg

/ team information form
= form_for @team, :url => wizard_path, :method => :put do |t|
  = t.text_field :name
  = t.submit